@model IEnumerable<Entidades.Producto>

@{
    ViewBag.Title = "TiendaVirtual";
}

<h2>TiendaVirtual</h2>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    @foreach (var item in Model)
    {
        <div class="col">
                <div class="card h-100">
                    <img src="~/imgs/@item.Foto" class="card-img-top" alt="@Html.DisplayFor(modelItem => item.Nombre)">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                        <p class="card-text">@Html.DisplayNameFor(model => model.Precio): @Html.DisplayFor(modelItem => item.Precio)</p>
                        <a class="btn btn-primary stretched-link" href="@Url.Action("DetalleProducto", "Compra", new { id = item.Id })">Ver detalles del producto</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Html.DisplayNameFor(model => model.FechaCaducidad): @Html.DisplayFor(modelItem => item.FechaCaducidad)</small>
                    </div>
                </div>
        </div>
    }
</div>
