@model Entidades.Carrito

@{
    ViewBag.Title = "Carrito";
}

<h2>Carrito</h2>

<div>
    <h4>Carrito</h4>
    <hr />

    <h5>@Model.Usuario.Nombre</h5>

    <table class="table table-bordered table-hover table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th class="text-end">Precio unidad</th>
                <th class="text-end">Cantidad</th>
                <th class="text-end">Precio total</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in Model.Detalles)
            {
                <tr>
                    <td>@detalle.Producto.Nombre</td>
                    <td class="text-end">@detalle.Producto.Precio.ToString("c")</td>
                    <td class="text-end">@detalle.Cantidad</td>
                    <td class="text-end">@detalle.Precio.ToString("c")</td>
                    <td><a class="btn btn-danger" href="@Url.Action("BorrarProducto", new { id = detalle.Producto.Id })">Borrar</a></td>
                </tr>
            }
        </tbody>
        <tfoot class="table-dark">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th class="text-end">@Model.Precio.ToString("c")</th>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <p>
        <a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Volver a productos</a>
    </p>
</div>
